CoqMakefile.conf

# coq
*.vo
*.vok
*.vos
*.glob
*.aux
*.lia.cache
*.CoqMakefile.d
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
*.crashcoqide

# vim
*.swp

# vscode
.vscode/

#intellij
.idea/

examples/plutus-use-cases
