[submodule "lib/coq-ctproxy"]
	path = lib/coq-ctproxy
	url = https://github.com/Xiving/coq-ctproxy
[submodule "lib/QuickChick"]
	path = lib/QuickChick
	url = https://github.com/Xiving/QuickChick
	branch = dec-derivining-mutind-bugfix
