[submodule "lib/coq-ctproxy"]
	path = lib/coq-ctproxy
	url = git@github.com:Xiving/coq-ctproxy.git
[submodule "lib/QuickChick"]
	path = lib/QuickChick
	url = git@github.com:Xiving/QuickChick.git
	branch = dec-derivining-mutind-bugfix
